<p class="is-size-4 md-3">レビューを各</p>
<div class="rating-box mt-3">
 
<%= form_with model: review, url:cafe_shop_reviews_path(shop),local:true do |f| %>
<div class="main-rating">
    <div class="ratings md-3">
        <span class="fa fa-star-o" id="stars"></span>
        <span class="fa fa-star-o" id="stars"></span>
        <span class="fa fa-star-o" id="stars"></span>
        <span class="fa fa-star-o" id="stars"></span>
        <span class="fa fa-star-o" id="stars"></span>
    </div>
    <div class="ml-3 rating-value-disply"><span id="rating-value-disply">0</span>/5</div>
</div>
      <%= f.hidden_field :score, id:"rating-value" %>
      <%= f.hidden_field :shop_id,value: shop %>
      <%= f.text_field :content %>
      <%= f.submit"保存" ,class:"button mt-3"%>
      <%= link_to "他のレビューを見る",cafe_shop_reviews_path(shop),class:'button mt-3' %>
    <% end %>   
        
</div>